node_modules
.DS_Store
dist
dist-ssr
/dist*
pnpm-debug
auto-*.d.ts
.idea
.history
docs

# Mock 编译文件
src/mock/**/*.mjs
src/mock/**/*.bundled_*.mjs
src/mock/**/__*.bundled_*.mjs
src/mock/**/_*.bundled_*.mjs
stats.html
