# .npmrc
registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/mirrors/node
@mapmost:registry="https://npm.mapmost.com/"

allow-scripts.core-js=true
allow-scripts.node-sass=true
enable-source-maps=false

# 强制使用 pnpm
engine-strict=true

# 解决 pnpm 依赖提升问题，确保 MSW 及其依赖可被正确访问
public-hoist-pattern[]=*msw*
public-hoist-pattern[]=*picocolors*
